<!doctype html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Store</title>
    <base href="/">
    <link href="/static/css/widget.css" rel="stylesheet"/>
</head>
<body>
    <div id="app-container"></div>
    <script>
        var categories = [
        {% for category in categories %}
            {"name": "{{category.name}}", "label": "{{category.label}}"}{% if not forloop.last %},{% endif %}
        {% endfor %}
        ];
    </script>
    <script type="text/javascript" src="/compiled/bundle.js"></script></body>
</body>
</html>
